.icon-film::before {
    content: '\f008';
    font-weight: 300;
    color: var(--text);
}
.icon-play::before {
    content: '\f04b';
    font-weight: 900;
    color: var(--text);
    position: absolute;
    text-shadow: 0 2px 5px #000000;
}
.icon-play::after {
    content: '\10f04b';
    font-weight: 900;
    color: var(--text);
    opacity: 0.5;
}
.icon-menu::before {
    content: '\f142';
    font-weight: 900;
    position: absolute;
    text-shadow: 0 2px 5px #000000;
}
.icon-menu::after {
    content: '\10f142';
    font-weight: 900;
}